# Dependencies
node_modules/

# Production builds
dist/
build/

# Local Database & Uploads
server/whatsapp.db
uploads/*
!uploads/.gitkeep

# Environment variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db
